<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sitios">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Sitios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planificar">
      <ion-icon name="jet"></ion-icon>
      <ion-label>Planificar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="amigos">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Amigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
