.sitio-categoria-ionic {
  color: var(--ion-color-primary);
}

.sitio-categoria-angular {
  color: var(--ion-color-angular);
}

.sitio-categoria-communication {
  color: var(--ion-color-communication);
}

.sitio-categoria-tooling {
  color: var(--ion-color-tooling);
}

.sitio-categoria-services {
  color: var(--ion-color-services);
}

.sitio-categoria-design {
  color: var(--ion-color-design);
}

.sitio-categoria-workshop {
  color: var(--ion-color-workshop);
}

.sitio-categoria-food {
  color: var(--ion-color-food);
}

.sitio-categoria-documentation {
  color: var(--ion-color-documentation);
}

.sitio-categoria-navigation {
  color: var(--ion-color-navigation);
}

.show-favorite {
  position: relative;
}

$categories: (
  ionic: var(--ion-color-primary),
  volcan: var(--ion-color-primary),
  monte: #53b1e7,
  montaña: #50320cd2,
  lago: #8e8d93,
  monumento: #fe4c52,
  galeria: #91ff00,
  jardin: #fd8b2d,
  zoologico: #fed035,
  parque: #69bb7b,
  mirador: #3bc7c4,
  comunidad: #b16be3,
  estructura: #6600cc,
  evento: #cc00a0,
);

@each $cat, $value in map-remove($categories) {
  label[categoria='#{$cat}']{
    border-left: 2px solid $value;
    padding-left: 10px;
    color: $value
  }
}

.icon-heart-empty {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.icon-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.show-favorite .icon-heart {
  transform: scale(1);
}

.show-favorite .icon-heart-empty {
  transform: scale(0);
}
