<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{sitio?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="sitio" class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <img [src]="sitio.imagen">
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <label [attr.categoria]="sitio.categoria">{{sitio.categoria}}</label>
        </ion-col>
        <ion-col size="6" [ngClass]="{'show-favorite': isFavorite}" class="ion-text-right">
          <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
          <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1>{{sitio.nombre}}</h1>
    <div class="ion-text-justify">
      <p>{{sitio.descripcion}}</p>
    </div>
    <ion-text>
      <ion-item>
        <ion-label>Calificar esta aplicacion</ion-label>
        <ion-select value="5" okText="OK" cancelText="Cancelar" (ionChange)="getSelectValue($event);">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
        </ion-select>
      </ion-item>
      <h6>Comparte tu opinion con otros usuarios</h6>
    </ion-text>

    <ion-list>
      <ion-textarea [(ngModel)]="comentario" name="comentario" id="comentario"></ion-textarea>
      <ion-button color="success" (click)="comentar()">Publicar</ion-button>
    </ion-list>

    <div class="ion-text-center">
      <ion-text>
        <h3>Calificacion y comentarios</h3>
      </ion-text>
    </div>

    <div class="ion-text-center">
      <h5>
        Calificacion general:
        <ion-icon *ngFor="let i of [].constructor(sitio.puntuacion)" name="star"></ion-icon>
      </h5>



      <ion-list *ngFor="let comm of comentarios">
        <ion-item>
          <ion-label rows="5">
            <h3>{{comm.nombre}} {{comm.apellido}} &mdash; {{comm.email}}
              <ion-icon *ngFor="let i of [].constructor(comm.puntuacion)" name="star"></ion-icon>
            </h3>
            <p>{{comm.comentario}}</p>
          </ion-label>
        </ion-item>
      </ion-list>


    </div>

  </div>

  <ion-list>

  </ion-list>
</ion-content>