<ion-header>
    <ion-toolbar>
      <ion-title>Viajes en este plan</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-list>
    <ion-row style="height: 30px">
    <ion-col col-2>
        Fecha Inicio
    </ion-col>
    <ion-col col-2>
        Fecha Fin
    </ion-col>
   </ion-row>
  <ion-row style="height: 30px">
      <ion-col col-2>
        <ion-datetime [(ngModel)]="fechainicio" (ionChange)="InicioChange()" displayFormat="YYYY-MM-DD" [placeholder]="fechainicio"></ion-datetime>
      </ion-col>
      <ion-col col-2>
        <ion-datetime [(ngModel)]="fechafin" (ionChange)="FinChange()" displayFormat="YYYY-MM-DD" [placeholder]="fechafin"></ion-datetime>
      </ion-col>
  </ion-row>
</ion-list>
    <ion-row style="height: 30px"></ion-row>
    <ion-label color="primary"><h1>Viajes que estan en el plan</h1></ion-label>
    <ion-list>
      <ion-item *ngFor="let planviaje of planificacionService.planviajes">
        <ion-col col-6>
          {{ planviaje.nombre }}
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
          <ion-item button (click)="sendDeleteRequestViaje(planviaje.id_planificacion,planviaje.id_viaje)" color="primary" >Quitar Viaje</ion-item>
        </ion-col>
        

  
      </ion-item>
      
   </ion-list>

   <ion-row style="height: 50px"></ion-row>

   <ion-label color="primary"><h1>Agregue Viaje A la Planiacion</h1></ion-label>
   <ion-list>
     <ion-item>
       <ion-label>Viajes</ion-label>
       <ion-select  [(ngModel)]="viajeescogido" placeholder="Escoga un Viaje">
         <ion-select-option  *ngFor="let listaviaje of planificacionService.listaviajes" value={{listaviaje.id_viaje}}>{{listaviaje.nombre}}</ion-select-option>
       </ion-select>
     </ion-item>
   </ion-list>

   <ion-item button (click)="sendPostRequest()">Agregar Viaje</ion-item>
   
   </ion-content>