<ion-content>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
  </style>
  <ion-text color="#fff" style="text-align: center; font-family: 'Comfortaa', cursive; font-size: 60px;">
    <h1 style="font-size: 40px;">
      EasyTrip
    </h1>
  </ion-text>

  <div class="login-logo">
    <img src="assets/img/loginImage.png" alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Usuario</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false"
          autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Ingrese el usuario
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Contraseña</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Ingrese la contraseña
        </p>
        <p [hidden]=badCredentials class="ion-padding-start">
          Credenciales invalidas
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" color="secondary" type="submit" expand="block">Iniciar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>