<ion-header>
  <ion-toolbar>
    <ion-title>portal-viajexpais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--
        <ion-item *ngFor="let viajexpais of  portalViajexpaisService.viajesxpais">
          <h3>{{ viajexpais.id_pais }}</h3>
          <span>{{ viajexpais.pais }}</span>
        </ion-item>
        -->
      </ion-list>

      <ion-list>
        <ion-row style="border-bottom: groove;" color="primary">
          <ion-col size=6>
            <ion-label>Nombre Viaje</ion-label>
          </ion-col>
    
          <ion-col size=2>
            <ion-label>Modificar</ion-label>
          </ion-col>
    
          <ion-col size=2>
            <ion-label>Eliminar</ion-label>
          </ion-col>
        </ion-row>
        <ion-item button *ngFor="let viaje of portalViajexpaisService.viajes">
          <ion-col size=6>
            <ion-item button [routerLink]="['/','viajes',viaje.id_usuario,viaje.id_viaje,'paises']">
              {{ viaje.nombre }}
            </ion-item>
          </ion-col>
          <ion-col size=2>
            <ion-item button>Modificar</ion-item>
          </ion-col>
    
          <ion-col size=2>
            <ion-item button >Eliminar Viaje</ion-item>
          </ion-col>
    
        </ion-item>
      </ion-list>
</ion-content>
