<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button [routerLink]="['/','viajes','3']" routerDirection="forward">Ingresar</ion-item>
</ion-content>