<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Viajes</ion-title>
  </ion-toolbar>  
</ion-header>


<ion-content padding="true">


    <ion-textarea [(ngModel)]="nombreviaje" name="nombre" placeholder="Ingrese Viaje a Realizar"></ion-textarea>
    <ion-item color="primary" button (click)="UpdateViaje()" >Modificar Viaje</ion-item>
  
  </ion-content>
  <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "UpdateViaje(productData.value)">
      <label>Name: </label><input type = "text" name="nombre" id="nombre" placeholder="nombre" [(ngModel)] = "data.nombre" ngModel><br>   
      <input type="submit" value = "Update Product">

  </form>

  <p *ngIf = "!exist">
      Product doesn't exist
  </p>