<ion-header>
  <ion-toolbar>
    <ion-title>Recomendar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding="true">
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-label color="primary">
      <h1> Recomendar un nuevo sitio turistico a la pagina</h1>
    </ion-label>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Nombre</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputnombre" name="inputnombre" placeholder="Ingrese Nombre del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Calificacion</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputcalificacion" name="inputcalificacion"
        placeholder="Ingrese Calificacion del Sitio Turistico"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Precio</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputprecio" name="inputprecio" placeholder="Ingrese Precio de del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Latitud</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputlatitud" name="inputlatitud" placeholder="Ingrese Latitud del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Longitud</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputlongitud" name="inputlongitud" placeholder="Ingrese Longitud del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Ciudad</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputciudad" name="inputciudad" placeholder="Ingrese Ciudad del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Imagen</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputimagen" name="inputimagen" placeholder="Ingrese Imagen del Sitio Turistico">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" color="primary">
    <ion-col size=2>
      <h3>Descripcion</h3>
    </ion-col>
    <ion-col size=6>
      <ion-textarea [(ngModel)]="inputdescripcion" name="inputdescripcion"
        placeholder="Ingrese Descripcion del Sitio Turistico"></ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>


<ion-content>
  <ion-label color="primary">
    <h1>Escoga un Pais</h1>
  </ion-label>
  <ion-list>
    <ion-item>
      <ion-label>Paises</ion-label>
      <ion-select [(ngModel)]="paisescogido" placeholder="Escoga un Pais">
        <ion-select-option *ngFor="let listapais of sitioService.listapaises" value={{listapais.id_pais}}>
          {{listapais.pais}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item button (click)="sendPostRequest()">Recomendar Sitio</ion-item>
</ion-content>